body{background-color:black;}
th{color:rgb(66, 26, 26); padding:15px;}
article{width:100%;}
p{color:white; padding:15px; font-size:40px;}
h2{display:inline-block; color:white;}
h2:hover{color:yellow; transition-deley: 1s;}
img{width:320px; height:360px;}
.a{width:50%;}